/* Root */
:root {
    --darkblue: darkblue;
    --iconhw: 45px;
}

/* Universal */
* {
    box-sizing: border-box;
}

/* Elements */
body {
    font-family: 'EB Garamond', serif;
    box-sizing: border-box;
    line-height: 1.5rem;
}

header {
    
    background-image: linear-gradient(to left, darkblue, seagreen);
}

footer {
    background-image: linear-gradient(to left, darkblue, seagreen);
    height: 40px;
}

/* Classes */
.textinput {
    resize: none;
    height: 40px;
    width: 200px;
}

.city-list {
    height: 400px;
    background-image: linear-gradient(to left, rgba(8, 113, 211, 0.562), rgba(26, 201, 105, 0.562));
    width: 100%;
    border: solid 2px var(--darkblue);
}

.current-condition {
    font-size: 125%;
    width: 230px;
    border-radius: 10px;
}

.current-heading {
    font-size: 25px;
    font-weight: bold;
}

.current-heading img {
    height: var(--iconhw);
    width: var(--iconhw);
}

.forecast, #foreTitle {
    display: none;
}

.forecast-day {
    background-image: linear-gradient(to left, rgba(8, 113, 211, 0.562), rgba(26, 201, 105, 0.562));
    border-radius: 10px;
}

.forecast-date {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}

.city-select {
    border: solid var(--darkblue) 2px;
    border-radius: 10px;
    width: fit-content;
    font-size: 18px;
    font-weight: 300px;
}

.city-select:hover {
    background-color: rgba(0, 2, 116, 0.363);
    cursor: pointer;
}

.forecast-icon img {
    height: var(--iconhw);
    width: var(--iconhw);
}

.remove {
    background-color: lightblue;
    border-color: var(--darkblue);
}

.remove:hover {
    background-color: rgba(0, 0, 139, 0.445);
}

.modal-content {
    background-color: rgba(46, 139, 86, 0.452);
    font-size: 20px;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(14, 142, 165);
    width: 80%;
    color: white;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: var(--iconhw);
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(11, 138, 180);
  text-decoration: none;
  cursor: pointer;
}

/* IDs */
#search {
    height: 200px;
}

#search-button {
    font-size: 18px;
    height: 40px;
    background-image: linear-gradient(to left, rgba(8, 113, 211, 0.562), rgba(26, 201, 105, 0.562));
}

#current-container {
    display: none;
    height: 250px;
    border: solid black;
    border-radius: 15px;
}

#foreTitle {
    background-image: linear-gradient(to left, rgba(8, 113, 211, 0.562), rgba(26, 201, 105, 0.562));
    border-radius: 10px;
}

#addModal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  /* Media Query */
  @media screen and (max-width: 768px){
    .current-condition {
        width:fit-content;
        height: 35px;
      }
    .textinput {
        height: 65px;
    }

    #search-button{
        height: 65px;
      }
  }
  